# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
*.egg

# Virtual environment
.venv/
venv/
env/

# PyInstaller
dist/
build/
*.spec
*.manifest
*.exe

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
.directory
desktop.ini

# Logs
*.log

# Misc
*.bak
*.tmp
